<div class="banner">
  <div class="navbar-home">
    <%= link_to "portfolio", "/", class: "link" %>
    <%= link_to "more info", "/", class: "link" %>

   </div>
  <div class="banner-content">
    <h1>There is a long road ahead</h1>
    <p>That begins here</p>
    <p>Discover</p>
  </div>
</div>
