<div class="banner">
  <div class="navbar-home">
    <%= link_to "Projects", projects_path, class: "link" %>
    <%= link_to "More Info", "/", class: "link" %>
   </div>

  <div class="banner-content">
    <h1>THINK OUTSIDE THE BOX</h1>
    <p class="sub-title">Starts > Anywhere</p>
    <div id="discover">
    <p>Discover</p>
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!-- Cards Section HERE -->

<div class="main-container">
  <div class="button-container">
    <%= link_to "Button", root_path, class: "btn button-round center" %>
  </div>
  <div class="image-container">
  </div>
</div>

