<div class="banner">
  <div class="navbar-home">
    <%= link_to "Projects", projects_path, class: "link" %>
    <%= link_to "More Info", "/", class: "link" %>
   </div>

  <div class="banner-content">
    <h1>There is a long road ahead</h1>
    <p id="sub-title">That begins here</p>
    <div id="discover">
    <p>Discover</p>
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
