<div class="banner">
  <div class="navbar-home">
    <%= link_to "Projects", projects_path, class: "link" %>
    <%= link_to "More Info", "/", class: "link" %>
   </div>

  <div class="banner-content">
    <h1>THINK OUTSIDE THE BOX</h1>
    <p class="sub-title">Starts > Anywhere</p>
    <div id="discover">
    <p>Discover</p>
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!-- Cards Section HERE -->
<div class="wrapper">
  <%#= image_tag "splash.jpg", id:"image" %>

  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="card">
          <div class="card-description">
            <h2>Not a Painter.</h2>
            <p>I wanted to learn something new, and I've been told that I'm not a painter. I was puzzled. I never would have thought of myself next to an upcoming modern art artist. With all due respect, I would probably prefer to hang a free painting collected from a garage sale than my own, if I were to start painting one day. But that's beside the point...</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="card">
          <div class="card-description">
            <h2>These Days...</h2>
            <p>A Digital Painter.<br>
              After 2 years in marketing, I decided to make myself a gift to become tech literate, and pursue my personal growth and development.
              I had the opportunity to work on different web developments during the coding bootcamp, and I'm looking forward to working on many more projects to come.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
