<div class="banner">
  <div class="navbar-home">
    <%= link_to "Projects", projects_path, class: "link" %>
    <%= link_to "More Info", "/", class: "link" %>
   </div>

  <div class="banner-content">
    <h1>Think.Outside.the.Box.</h1>
    <p class="sub-title">Starts > Everywhere</p>
    <div id="discover">
    <p>Discover</p>
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>
</div>



<div class="wrapper">
  <div class="card">
    <div class="card-description">

    </div>
  </div>
</div>
