<div>
  <%= link_to "Home", root_path, class: "link" %>
</div>

<div>
  <p>Projects in Github</p>
</div>


<div class="container">
<%= image_tag "save-it.png", id:"save-it-image" %>
</div>

<div class="project-description">
  <p>Online Shopping Aggregator</p>
  <p>Help Online Shoppers to Browse, Save, Track and Buy</p>
  <p>Checkout</p>
  <%= link_to "Save-it", "https://save-it.herokuapp.com/" %>
</div>
