.banner {
  background-image: url('bridge.JPG');
  color: white;
  text-align: center;
  height: 95vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner h1 {
  font-size: 175%;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding: 12px 10px;
}

.banner p {
  font-size: 100%;
  font-weight: lighter;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 10%;
}

.navbar-home{
  position: absolute;
  top: 8%;
  right: 6%;
  align-items: center;
  text-align: center;
}

.link{
  text-decoration: none;
  margin-left: 18px;
  color: #F4D03F;
  text-shadow: 1px 0px;
  opacity: 0.7;
}

.link:hover{
  color: #F4D03F;
  text-decoration: none;
  opacity: 1;
}
 .link:active{
  color: #F4D03F;
  text-decoration: none;
  opacity: 1;
}

#sub-title{
  opacity: 0.9;
  text-shadow: 0.5px 0px;
}

#discover{
  position: absolute;
  bottom:10%;
  left: calc(50% - 35px);
}

#discovery-arrow{
  opacity: 0.7;
}



