.wrapper{
  // background: linear-gradient(to right, #f6f9fc, white);
  background-color: #f8f7f2;

}

.card{
  // position: absolute;
  // top: 8%;
  // left: 15%;
  // right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2% 6%;
  border-radius: 3%;
  background-color: #fbfbfb;
}


