.wrapper{
  // background: linear-gradient(to right, #f6f9fc, white);
  background-color: #f8f7f2;
  position: relative;
  background-image: url('splash.jpg');
  background-size: cover !important;
}

.card{
  // position: absolute;
  // top: 8%;
  // left: 15%;
  // right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2% 6%;
  margin-top: 65px;
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 3%;
  background-color: #fbfbfb;
}

.card h2{
  color:#ff4c44;
  font-size: 120%;
  // font-weight: bold;
  text-align: left;
  box-shadow: inset 0 -1px 0 white, inset 0 -5px 0 #74d1b4;
  width: 50%;
  z-index: 10;
}

.card p{
  font-size: 100%;
  text-align: left;
  z-index: 10;
}


#image{
 // background-image: url('splash.jpg');
 position: absolute;
 left:0px;

}
